Repository reefland/ansible-k3s-argocd-renovate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/README-update, area/documentation, area/documentation-images, area/ansible

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
  - ".gitignore"
area/README-update:
  - "**/README.md"
area/documentation:
  - "docs/**/*"
area/documentation-images:
  - "images/**/*"
area/ansible:
  - "defaults/**/*"
  - "files/**/*"
  - "handlers/**/*"
  - "tasks/**/*"
  - "templates/**/*"
  - "vars/**/*"

FIX: change createhome to create_home
  tasks/01_prep_os.yml
Labels: area/ansible

FIX: quote parse on INSTALL_K3S_EXEC with worker node install.
  tasks/02_install_k3s.yml
Labels: area/ansible

FIX: wrap mode number in quotes
  tasks/05_install_helm_client.yml
Labels: area/ansible

FEAT: Added task file to install ETCD utils
  tasks/02_install_etcd_utils.yml
  tasks/main.yml
Labels: area/ansible

FEAT: Add ETCD Defrag service and timer to Control-Plane Nodes
  handlers/main.yml
  tasks/02_install_etcd_utils.yml
  templates/etcd/k3s-etcd-defrag.service.j2
  templates/etcd/k3s-etcd-defrag.timer.j2
Labels: area/ansible

FIX: typo in kubectl status variable name
  tasks/04_validate_k3s.yml
Labels: area/ansible

FIX: minor typos
  tasks/00_config_rsyslog.yml
Labels: area/ansible

Remove cri-purge.sh as it has its own repository.
  files/containerd/cri-purge.sh
Labels: area/ansible

doc: update hardware and network summary
  README.md
Labels: area/README-update

fix: allow labels to be overwritten
  tasks/03_apply_labels.yml
Labels: area/ansible

doc: update home cluster hardware summary after MS-01 upgrades
  README.md
Labels: area/README-update

doc: disable line length linter
  README.md
Labels: area/README-update

doc: fix typos and broken links
  .ansible/.lock
  docs/argocd-settings.md
Labels: area/documentation

doc: fix typos
  docs/argocd-settings.md
Labels: area/documentation

doc: updated additional node with Nvidia GPU
  README.md
Labels: area/README-update
