Repository reefland/ansible-k3s-argocd-renovate, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/README-update, area/documentation, area/documentation-images, area/ansible

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
  - ".gitignore"
area/README-update:
  - "**/README.md"
area/documentation:
  - "docs/**/*"
area/documentation-images:
  - "images/**/*"
area/ansible:
  - "defaults/**/*"
  - "files/**/*"
  - "handlers/**/*"
  - "tasks/**/*"
  - "templates/**/*"
  - "vars/**/*"

Fix broken links
  README.md
Labels: area/README-update

Updated Cluster Hardware Summary
  README.md
Labels: area/README-update

Fixed branches to watch
  .github/workflows/linter.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

Fixed branches to watch
  .github/workflows/linter.yaml
Labels: area/github

Added Uptime Kuma monitors
  README.md
Labels: area/README-update

Updated
  .gitignore
Labels: area/github

Moved to bot token
  .github/workflows/linter.yaml
Labels: area/github

updated per linter
  README.md
Labels: area/README-update

adjust linter
  .github/workflows/linter.yaml
Labels: area/github

Updated Home Cluster Hardware section
  README.md
Labels: area/README-update

Updated hardware / new cluster dashboard
  README.md
Labels: area/README-update

Enabled sync=always on k3s ZVOL
  defaults/main.yml
  templates/grafana-dashboards/workloads/grafana-dashboards/linux/k3s-zfs-exporter.json.j2
Labels: area/ansible

Move K3s Network Settings to Dedicated conf file
  defaults/main.yml
  files/os/sysctl_k3s-network-tweaks.conf
  tasks/01_prep_os.yml
Labels: area/ansible

FIX: uppercase issue per linter
  tasks/main.yml
Labels: area/ansible

FIX: YAML changes per linter
  tasks/02_install_k3s.yml
Labels: area/ansible

FIX: YAML changes per linter
  tasks/04_validate_k3s.yml
Labels: area/ansible

NEW: Support for encrypted ZVOL
  defaults/main.yml
  tasks/01_prep_os.yml
Labels: area/ansible

DOC: Updated comment
  defaults/main.yml
Labels: area/ansible

Minor updates
  README.md
Labels: area/README-update

DOC: New tables / ZFS ZVOl encryption added
  docs/k3s-settings.md
Labels: area/documentation

Updated 30 Day Service List
  README.md
Labels: area/README-update

Update Cluster Hardware
  README.md
Labels: area/README-update

Update Cluster Hardware
  README.md
Labels: area/README-update

Removed Grafana link
  README.md
Labels: area/README-update

Removed Grafana link
  README.md
Labels: area/README-update

Added Ceph Cluster Metrics
  README.md
Labels: area/README-update

Updated workflow
  .github/workflows/linter.yaml
Labels: area/github

DOC: Updated Home Cluster Hardware
  README.md
Labels: area/README-update

Remove redis badge add dragonfly badge
  README.md
Labels: area/README-update

FIX: Bump default K3S version and removed old feature gates
  defaults/main.yml
Labels: area/ansible

Allow pip3 as system package
  tasks/00_sanity_check.yml
Labels: area/ansible

FIX: Pass CLI options to K3S agent as well. Makes sure agent install uses requested version, not latest.
  tasks/02_install_k3s.yml
Labels: area/ansible

Add ZST installation package
  vars/main.yml
Labels: area/ansible

DOC: Updated cluster hardware summary table
  README.md
Labels: area/README-update

FIX: quote parse on INSTALL_K3S_EXEC with control-plane install.
  tasks/02_install_k3s.yml
Labels: area/ansible

FEAT: Enable Spegel Embedded Registry Mirror
  vars/main.yml
Labels: area/ansible

FIX: Updated etcd port and wrapped variables in quotes per linter
  files/etcd/install_etcd_cli.sh
Labels: area/ansible

FIX: Wrapped variables in quotes per linter
  files/etcd/etcd-defrag.sh
Labels: area/ansible

FIX: Bump default K3S version to 1.31.4
  defaults/main.yml
Labels: area/ansible

FEAT: Define location for custom script locations
  defaults/main.yml
Labels: area/ansible
